$font_main : "Merienda", sans-serif; //change font

// Colores

$pink: #F53756;
$yellow: #fdda00;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF;
$red: #ef0a0a;
$lightgrey: #828281;
$plusgrey: #474747;
$shadow:  #d7d7d7;

//color from local
$green:#7c8c0383;
$greenOpacity:#7c8c03;
$opacitygrey: #82828195;
$blueBla: #162737;
$blueblalow: #354FAC; 
$coffelow: #BF7B3F;
$coffeBla: #733A26;

//Media Queries
$cellphone: 480px;
$tablet: 768px;
$mindesktop: 1020px;
$desktop: 1200px;
$desktopXL: 1400px;

$separation: 7rem;

