@use 'base/variables' as v;
@use 'base/mixins' as m;



.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
        font-size: 1.5rem;
    }

    &_logo {
        img {
            width: 10rem;
        }
    }
}

.content-menu {
    padding: 1.5rem;
    //height:auto;
    border-radius: 2rem;
    background-color: v.$white;
    box-shadow: 0 1rem 2rem v.$opacitygrey;

    h1 {
        margin: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        color: v.$textTitle;
        -webkit-text-stroke: .02rem v.$backgroundColorL;
        text-shadow: 0 .5rem 1.5rem v.$backgroundColorT;
    }

    @include m.tablet {
        //height: auto;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-size: 2rem;
    }

    @include m.tablet {
        flex-direction: row;
    }

    &-order {
        display: flex;
        flex-direction: column;
        flex-basis: 100%; //
        gap: 2rem;
    }

}

.content-menu_back {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background-color: v.$colorMenubackL;
    padding-top: 1rem;
    box-shadow: 0 .1rem .7rem v.$colorMenubackT;
    
    .logo-menu {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        align-items: center;
        
        img {
            width: 20rem;
            
        }
    }
}

.produc-price {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 0;
        padding-bottom: 0.7rem;
        font-size:2.5rem;
    }

    &_info {
        visibility: hidden; //para el menu hamburge
        opacity: 0;
        height: 0;
        width: 100%; //
        transition: visibility .3s ease-in-out, opacity 0.5s linear, height .3s linear; //

        @include m.tablet {
            opacity: 1; //
            visibility: visible; //
            height: auto;
        }

        li {
            //list-style: none;
            color: v.$textTitle;
            text-transform: uppercase;
            padding-bottom: .2rem;

            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5rem; //

                h2 {
                    margin: 0;
                    font-size: 1.4rem;
                }

                p {
                    margin: 0;
                    color: v.$textTitle;
                    font-weight: 900;
                    font-size: 1.4rem;
                    padding-right: 2rem;
                }
            }


            span {
                font-size: 1rem;
            }
        }

        p {
            text-transform: capitalize;
            color: v.$textTitle;
            font-size: 1.2rem;
            margin: 0;
            padding-right: 1.5rem;
        }
    }

    .info {
        color: v.$textTitle;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: capitalize;
        width: 90%;
    }
}

.style_menu {
    background-color: v.$colorMenubackL;
    border-radius: 2rem;
    box-shadow: 0rem .1rem 1rem v.$textTitleLow;
}

.style_menuIn {
    background-color: v.$colorMenubackT;
    border-radius: 2rem;
    box-shadow: 0rem .1rem 1rem v.$textTitleLow;

    p {
        padding: 1rem;
    }
}

.showMenuIn {
    visibility: visible;
    opacity: 1;
    height: 100%;
    //width: 100%;
    padding: 0rem 1rem;
}

.showMenu {
    visibility: visible;
    opacity: 1;
    height: 100%;
    padding: 1rem 0rem 2rem;
}

.mobile-menu_v {
    @include m.tablet {
        display: none;
    }

    img {
        width: 4rem;
    }
}