@use 'base/variables' as v;
@use 'base/mixins' as m;


.content-main_menu {
    padding: 1.5rem;
    height: auto;
    border-radius: 2rem;
    background-color: v.$white;
    box-shadow: 0 1rem 2rem v.$opacitygrey;

    h1 {
        margin: 2rem;
        text-align: center;
        color: v.$textTitle;
        -webkit-text-stroke: .02rem v.$backgroundColorL;
        text-shadow: 0 .5rem 1.5rem v.$backgroundColorT;

    }

    @include m.tablet {
        height: auto;
    }
}

.menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2rem;

    h1 {
        font-size: 2rem;
    }

    @include m.tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 2rem;
    }

}

.produc-price {
    &_info {
        li {
            //list-style: none;
            color: v.$textTitle;
            text-transform: uppercase;
            padding-bottom: .2rem;
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h2{
                    margin: 0;
                    font-size: 1.2rem;
                }
                p{
                    margin: 0;
                    color: v.$textTitle;
                    font-weight: 900;
                    font-size: 1.4rem;
                    padding-right: 2rem;
                }
            }
        }
        p {
            text-transform: capitalize;
            color: v.$textTitle;
            font-size: 1.1rem;
            margin: 0;
            padding-right: 1.5rem;
        }
    }
}

.style_menu {
    background-color: v.$colorMenubackL;
    border-radius: 2rem;
    box-shadow: 0rem .1rem 1rem v.$textTitleLow;
}