@use 'base/variables' as v;
@use 'base/mixins' as m;


.container-header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    box-shadow: .5rem .1rem 5rem #333;
    background-color: v.$green;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        background-color: transparent;
        position: fixed;
        z-index: 2;
        
    }

    h1 {
        text-align: center;
        color: v.$coffeBla;
        -webkit-text-stroke: .03rem v.$white;
        text-shadow: 0 .1rem 1rem v.$yellow;
        font-weight: bold;
        margin: 0;
        padding: 1rem;

        @include m.tablet {
            text-align: left;
            padding-left: 5rem;
        }
    }
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;

    @include m.tablet {
        align-items: flex-end;
    }

}

.navigation-option {
    visibility: hidden; //para el menu hamburge
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear, height .5s linear; //
    
    @include m.tablet {
        display: flex;
        align-items: center;
        opacity: 1; //
        visibility: visible; //
        padding-bottom: 3rem;

    }

    a {
        color: v.$white;
        font-weight: bold;
        font-size: 2rem;
        text-decoration: none;
        display: block;
        text-align: center;
        -webkit-text-stroke: .03rem v.$greenOpacity;
        text-shadow: 0 .1rem 1rem v.$yellow;
        
        &:hover,
        &.active {
            color: v.$coffelow;
        }

        @include m.tablet {
            color: v.$coffeBla;
            -webkit-text-stroke: .03rem v.$blueBla;
            text-shadow: 0 .1rem 1rem v.$greenOpacity;

            margin-right: 7rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 7rem;
            }

        }
    }
}


.navigation-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        float: left;
        padding: 0rem 1rem;
        margin: 0;
    }

    a {
        color: v.$white;
        font-size: 1.5rem;

        &:hover,
        &.active {
            color: v.$yellow;
        }
    }

    p {
        font-size: 1.3rem;
    }
}

.mobile-menu{
    @include m.tablet{
        display: none;
    }

    img{
        width: 5rem;
    }
}

.show{
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: 1rem 0rem 2rem;

    a{
        padding-top: 1.5rem;
    }
    
}