@use 'base/variables' as v;
@use 'base/mixins' as m;

:root {
    --total-time: 7s;
    --coffe-delay: calc(var(--total-time) / 3.5);
    --coffe-time: calc(var(--total-time) / 4);
    --cup-delay: calc(var(--total-time) / 2.7);
    --cup-time: calc(var(--total-time) / 3);
    --under-delay: calc(var(--total-time) / 1.5);
    --under-time: calc(var(--total-time) / 3.75);
}

.content-main {
    padding: 1.5rem;
    height: auto;
    border-radius: 2rem;
    //background-color: #edecec; 
    background-color: v.$white;
    box-shadow: 0 1rem 2rem v.$opacitygrey;

    h1 {
        margin: 2rem;
        text-align: center;
        color: v.$textTitle;
        -webkit-text-stroke: .02rem v.$backgroundColorL;
        text-shadow: 0 .5rem 1.5rem v.$backgroundColorT;

    }

    @include m.tablet {
        height: auto;
    }

    &_order {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        padding-bottom: 2rem;
        gap: 2.5rem;

        @include m.tablet {
            flex-direction: row;
            margin-top: 7rem;
            gap: 5rem;
            
        }
    }

}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;

    @include m.tablet {
        gap: 2rem;
    }

    &-coffe_logo {
        width: auto;
        height: auto;
    }

    &-info {
        p {
            margin: 0;
            padding: 2rem;
            color: v.$textInfo;
            font-size: 1.7rem;
            text-align: center;
            
        }
    }
}

.view-menu {
    background-color: v.$white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0rem .7rem 1.5rem v.$lightgrey;
    cursor: pointer;

    h1 {
        color: v.$textTitle;
        text-align: center;
        margin: 0;
        padding: 2rem;

        -webkit-text-stroke: .03rem v.$white;
        text-shadow: 0 .1rem 3rem v.$backgroundColorT;
    }

    p {
        margin: 0;
        padding-bottom: 2rem;
    }

    &:hover {
        background-color: v.$colorMenuback;
        box-shadow: inset 0rem .7rem 1.5rem v.$backgroundColorL;

        h1 {
            color: v.$white;
        }

        p {
            color: v.$white;
        }
    }

    @include m.tablet{
        margin: 0rem 2rem 2rem 0;
    }
}

.content-view-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 3rem;
    //background-color: v.$white;

    @include m.tablet {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
}

.view-menu-images{
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: repeat(2, 15rem);
    gap: 2rem;
    position: relative;
    justify-content: center;

    @include m.tablet {
        grid-template-columns: repeat(2, 18rem);
        grid-template-rows: repeat(2, 15rem);
        padding: 2rem;
    }

    .image {
        flex: 0 0 50%;
        position: relative;

        &:nth-of-type(1) {
            background: url(../img/gallery/full/panke.avif?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 50% 50% / cover;

            &:after {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: transparent;
                transform: scale(0.9);
                outline: 5px solid v.$backgroundColorL;
            }
        }

        &:nth-of-type(2) {
            background: url(../img/gallery/full/sanw.avif?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 50% 50% / cover;

            &:after {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: transparent;
                transform: scale(0.9);
                outline: 5px solid v.$backgroundColorL;
            }
        }

        &:nth-of-type(3) {
            background: url(../img/gallery/full/blah2.avif?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 50% 50% / cover;

            &:after {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: transparent;
                transform: scale(0.9);
                outline: 5px solid v.$backgroundColorL;
            }
        }

        &:nth-of-type(4) {
            background: url(../img/gallery/full/panke.avif?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 50% 50% / cover;

            &:after {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: transparent;
                transform: scale(0.9);
                outline: 5px solid v.$backgroundColorL;
            }
        }
    }

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .path-one {
            fill: #ffffffe3;
        }
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ccbc9d;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        max-width: 180px;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

}